
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.Parte_superior{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    gap: 2rem;

    padding: 1rem clamp(1rem, 5vw, 5rem);

    background-color: rgba(0, 76, 253, 0.8);
    border-bottom: 1px solid var(--color-borde);

    box-shadow: var(--sombra);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

.Parte_arribasegunda{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    gap: 2rem;

    padding: 1rem clamp(1rem, 5vw, 5rem);

    background-color: rgba(23, 219, 111, 0.8);
    border-bottom: 1px solid var(--color-borde);

    box-shadow: var(--sombra);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Parte_mediatercera{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    gap: 2rem;

    padding: 1rem clamp(1rem, 5vw, 5rem);

    background-color: rgba(180, 219, 39, 0.8);
    border-bottom: 1px solid var(--color-borde);

    box-shadow: var(--sombra);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Parte_abajocuarta{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    gap: 2rem;

    padding: 1rem clamp(1rem, 5vw, 5rem);

    background-color: rgba(192, 79, 27, 0.8);
    border-bottom: 1px solid var(--color-borde);

    box-shadow: var(--sombra);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Parte_finalquinta{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    gap: 2rem;

    padding: 1rem clamp(1rem, 5vw, 5rem);

    background-color: rgba(15, 23, 42, 0.8);
    border-bottom: 1px solid var(--color-borde);

    box-shadow: var(--sombra);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}
@media(max-width: 800px) {
    .Parte_mediatercera{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .Parte_abajocuarta{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media(max-width: 600px) {
    .Parte_arribasegunda{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .Parte_mediatercera{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .Parte_abajocuarta{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}